body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    line-height: 1.6;
    color: #0e68ef;
    background-color: hsl(72, 78%, 49%);
}

h1 {
    text-align: center;
    color: #391ee7;
    margin-bottom: 20px;
    font-size: 2.5em;
}

form {
    background-color: #f7d918;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(240, 11, 11, 0.811);
    max-width: 600px;
    margin: 0 auto;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 15px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #eb0909;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #f6eeee;
    font-size: 16px;
}

button {
    background-color: #541ee7;
    color: rgb(240, 239, 245);
    padding: 15px 25px;
    margin: 15px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f7d918;
}

#hasil {
    margin-top: 30px;
    padding: 25px;
    background-color: #f7d918;
    border-radius: 12px;
    box-shadow: 0 4px 8px #f71818;
    color: #390ceb;
    max-width: 600px;
    margin: 0 auto;
}
