body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff0000, #ffffff); /* Red to White gradient */
    color: #333;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(45deg, #ff0000, #ffffff); /* Red to White gradient */
    color: #fff;
}

.game-image {
    width: 70px;
    height: 70px;
    border-radius: 15%;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo-game {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
    background: #ffffff; /* White background for content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
}

.content h1 {
    color: #ff0000; /* Red color */
}

.content p {
    color: #333;
}

.content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

form {
    margin-top: 20px;
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000; /* Red button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #cc0000; /* Darker red on hover */
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(45deg, #ff0000, #ffffff); /* Red to White gradient */
    color: #fff;
    position: relative;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-center {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.footer-center button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #cc0000; /* Darker red button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-center button:hover {
    background-color: #990000; /* Even darker red on hover */
}

.footer-right {
    text-align: right;
    color :#000
}

.footer-right p {
    margin: 0;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.1);
}

.social-media img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
